In [1]:
import requests
import pandas as pd

In [2]:
#download eTSS positions
url = 'https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/zfh1_genome-wide_eTSS.txt'
r = requests.get(url, allow_redirects=True)

open('zfh1_genome-wide_eTSS.txt','wb').write(r.content)

eTSS = pd.read_csv('zfh1_genome-wide_eTSS.txt', sep="\t", header=None)
eTSS.columns = ["chr", "start", "end", "TSS_num","strand"]
eTSS.head()

     chr  start    end    TSS_num strand
0  chr2L  12815  12816  TSS_10945      +
1  chr2L  59243  59244   TSS_5268      -
2  chr2L  67043  67044   TSS_2980      +
3  chr2L  72599  72600   TSS_6539      +
4  chr2L  84184  84185  TSS_11273      -

In [10]:
#download zfh1 count, ctrl count and enhancer-responsiveness
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/plus_1_pos.txt"
r = requests.get(url, allow_redirects=True)

open('plus_1_pos.txt','wb').write(r.content)

eTSSrpve = pd.read_csv('plus_1_pos.txt', sep="\t", header=None)[1:]
eTSSrpve.columns = ["chr", "start", "end", "TSS_num","strand","zfh1_count","ctrl_count","responsiveness"]
eTSSrpve.head()

     chr  start    end    TSS_num strand zfh1_count ctrl_count responsiveness
1  chr2L  12815  12816  TSS_10945      +          5          0  1.75509432621
2  chr2L  59243  59244   TSS_5268      -         14          0  3.71122827673
3  chr2L  67043  67044   TSS_2980      +         39          1  9.17713509827
4  chr2L  72599  72600   TSS_6539      +         10          0  2.83881166131
5  chr2L  84184  84185  TSS_11273      -          5          0  1.75509432621

In [5]:
#download subthreshold position

sub='4'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub4 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='3'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub3 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

sub='2'
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_zfh1_" + sub + ".txt"
r = requests.get(url, allow_redirects=True)
open("positions_zfh1_" + sub + ".txt",'wb').write(r.content)
sub2 = pd.read_csv("positions_zfh1_" + sub + ".txt", sep="\t", header=None)

colnames = ["chr", "start", "end", "TSS_num","strand","zfh1_count","responsiveness"]
    
sub4.columns = colnames
sub3.columns = colnames
sub2.columns = colnames
sub2.head()

     chr  start    end      TSS_num  strand zfh1_count  responsiveness
0  chr2L  12727  12828  position_13       2          +        1.134346
1  chr2L  14619  14720  position_24       2          +        1.134346
2  chr2L  14726  14827  position_25       2          +        1.134346
3  chr2L  14765  14866  position_26       2          -        1.134346
4  chr2L  21731  21832  position_31       2          -        1.134346

In [7]:
#download random positions
url="https://data.starklab.org/publications/arnold_zabidi_natureBiotech_2016/positions_random.txt"
r = requests.get(url, allow_redirects=True)
open("positions_random.txt",'wb').write(r.content)
rand_pos = pd.read_csv("positions_random.txt", sep="\t", header=None)

rand_pos.columns = ["chr", "start", "end", "TSS_num","null","strand","responsiveness"]
rand_pos.head()

     chr  start    end TSS_num  null strand  responsiveness
0  chr2L  39268  39369  rTSS_1     1      -             1.0
1  chr2L  54484  54585  rTSS_3     1      +             1.0
2  chr2L  54812  54913  rTSS_4     1      -             1.0
3  chr2L  68702  68803  rTSS_5     1      +             1.0
4  chr2L  70511  70612  rTSS_6     1      +             1.0

In [ ]:
####here, need to download the sequence around the TSSes